<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhiN2RZ8d_19a9Q1QEbU4l5nZVlsnE4Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>720882714928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.residentproject</string>
	<key>PROJECT_ID</key>
	<string>smarts-products</string>
	<key>STORAGE_BUCKET</key>
	<string>smarts-products.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720882714928:ios:d1293e881b418f710060f5</string>
</dict>
</plist>